# Python
__pycache__/
*.py[cod]
*.pyo
.python-version

# Virtual environment
env/
venv/
.venv/

# IDE
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Project
captures/
*.jpg
*.png
*.log
!/docs/*

# Config/secrets
.env
config.local.py

node_modules/
dist/
.env
*.db
*.db-wal
*.db-shm
captures/